.home {
  box-sizing: border-box;
  /* width: 1000px; */
  margin: 0;
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: rgb(72, 72, 72);
  font-family: "Kanit";
}

.contents {
  padding-top: 3em;
}

@media (max-width: 1200px) {
  .contents {
    height: max-content;
  }
}