.home {
  box-sizing: border-box;
  /* width: 1000px; */
  margin: 0;
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: rgb(72, 72, 72);
  font-family: "Kanit";
}

.contents {
  /* margin: 10px 150px; */
  padding-top: 3em;
  /* border: 1px black; */
}