.home {
  height: 100vh;
  box-sizing: border-box;
}

.cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}

.letter {
  font-family: 'Handlee';
  font-size: 40px;
  font-weight: bold;
 text-align: center;
  line-height: 70px;
}

.imgs {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-right: 50px;
}

.left_col,
.right_col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.right_col {
  margin-right: 30px;
}

.small {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

.medium {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}

.large {
  width: 250px;
  height: 300px;
  margin: 10px 0;
  border-radius: 5px;
}

.largest {
  width: 380px;
  height: 300px;
  margin: 10px 0;
  border-radius: 5px;
}
