.title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  color: rgb(96, 94, 94);
}

.content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
}

.img {
  margin: 0 auto;
}

.info {
  padding-top: 3em;
}

.headline {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  color: gray;
}

.table {
  text-align: left;
  width: 40em;
  height: 10em;
  font-size: 20px;
}

.icon {
  text-align: right;
  padding-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.logos {
  width: 70px;
  margin-right: 10px;
}
