.contentBox {
  display: flex;
  margin: 0 auto;
  padding-bottom: 60px;
  width: 1000px;
}

img {
  width: 500px;
  border-radius: 10px;
  margin: 10px 20px 20px 0;
}

.detail {
  margin: auto 10px auto 0;
  font-family: "Dongle";
  font-size: 30px;
}

.itemTitle {
  font-weight: bold;
  font-family: "Kanit";
  font-size: 30px;
  color: rgb(47, 88, 177);
}

.highlight {
  font-family: "Kanit";
  font-size: 25px;
  font-weight: bold;
  color: rgb(78, 123, 162);
}

.logos {
  width: 70px;
  margin-right: 10px;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.logos:hover {
  transform: scale(1.1);
}

button {
  margin: 5px;
  border-radius: 10px;
  border: 1px solid transparent;
  color: rgb(48, 81, 110);
  font-weight: bolder;
  font-size: 18px;
  background-color: rgb(207, 235, 245);
  padding: 5px 5px 0 5px;
}

button:hover {
  background-color: pink;
  border: pink;
}

a {
  font-family: "Dongle";
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: rgb(47, 74, 226);
  
}