.frame {
  display: flex;
  flex-wrap: wrap;
  font-weight: bolder;
  width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  font-family: 'Unbounded', sans-serif;
  text-decoration: none;
  color: rgb(68, 66, 66);
}

.title:hover {
  color: inherit;
}

.items {
  justify-content: right;
  font-size: 20px;
}

.a {
  text-decoration: none;
  color: inherit;
  font-family: 'Unbounded', sans-serif;
}

.a:hover {
  color: inherit;
}